
.navigator .viewport {
    stroke: grey;
    fill: black;
    fill-opacity: 0.2;
}

body
{
    background: white;
    color: black;
    max-width: 1400px;
    margin-top:10px;
    margin-left: 20px;
}

#checkboxes{
    width: 200px;
    font-family: sans-serif;
    top: 50px;
}

h1{
    position: center;
    font-family: sans-serif;
}

svg{
  margin-top: -20px;
    margin-left: 200px;
    display: inline;
}

path {
    fill: none; /*So the path under the lines is empty*/
  stroke: black;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5px;
}

.grid .tick {
    stroke: black;
    stroke-opacity: 0.1;
    shape-rendering: crispEdges;
}



.chart .overlay {
    stroke-width: 0px;
    fill-opacity: 0;
}

.axis text {
  font: 11px sans-serif;
}

line{
  color:red;
}

.axis line {
  fill: black;
  stroke: #000;
  shape-rendering: crispEdges;
}


.focus text {
  text-anchor: middle;
  text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}

.voronoi path {
  fill: black;
  pointer-events: all;
}

.voronoi--show path {
  stroke: red;
  stroke-opacity: .2;
}

.city--hover {
  stroke: #000;
}
