{% extends 'remsens/base.html' %} {% load staticfiles %} {% block head %}

<script type="text/javascript" src="{% static 'scripts/del_confirmation.js' %}"></script>
<script type="text/javascript" src="{% static 'scripts/form_type_selector.js' %}"></script>



{% endblock head %} {% block content %}

<h3 class="page-header"><b>{{ user }}</b>, stai visualizzando un sensore di <b>{{ myorg }}</b></h3>

<div class="left_side">
  <h3><a href="{% url 'my_client' client_id=sensor.client.uuid %}">{{ sensor.client }}</a></h3>
  <p>

    <div style="width: auto%;
    float: left;">
      <b>{{ sensor.description }}</b> -
      <!-- <a href="#" onclick="toggle();">Delete Sensor</a> -->
    </div>
    <div style="width: 60%;
      float: right;">
      <a href="{% url 'remove_sensor' sensor_id=sensor.uuid %}" id="del_link" style="display:none;">Confirm Deletion</a>
    </div>
    <br>with UUID: <b>{{sensor.uuid}}</b> <br>

    <br><b>Misurazioni:</b>

      <div class="editable_single">
        <form id="chek_form" method="post" action="/remsens/{{sensor.uuid}}/sensor">
          {% for measure in sensor.measurement_set.all %} {% csrf_token %} {% if measure.value %}
          <input type="checkbox" name="meas" value="{{ measure.pk|date:" c " }}" />
          <b>{{ measure.timestamp|date:" c " }}</b>: value <b>{{ measure.value}}</b> {{ sensor.meas_unit }}
          <br>
          {% else %}
          <input type="checkbox" name="meas" value="{{ measure.pk|date:" c " }}" />
          <b>{{ measure.timestamp|date:" c " }}</b>: error <b> {{ measure.error}} </b>
          <br>
          {% endif %} {% endfor %}


      <br>
      <button style="position: relative;" type="submit" name="delete_pressed" value="Delete Selected" >Delete Selected</button>

      </form>
      <br>
    </div>
    <br>

</div>

<div class="right_side">
  <h3><a href="#">Configuration</a></h3>
  <b>Configurazione Attuale</b> <br>

  <form id="form" method="post" action="/remsens/{{client.uuid}}/add_sensor">

    {% csrf_token %}
    <div style="width: 50%;
      float: left;">{{ form.uuid.errors }} {{form.uuid.help_text}}
      <br>
      {{form.uuid}}
      <br>

      {{ form.command.errors }} {{form.command.help_text}}
      <br>
      {{form.command}}<br>


      {{ form.description.errors }} {{form.description.help_text}}
      <br>
      {{form.description}}<br>


      {{ form.protocol_name.errors }} {{form.protocol_name.help_text}}
      <br>
      {{form.protocol_name}}<br>


      {{ form.protocol_min.errors }} {{form.protocol_min.help_text}}
      <br>
      {{form.protocol_min}}<br>


      {{ form.protocol_max.errors }} {{form.protocol_max.help_text}}
      <br>
      {{form.protocol_max}}<br>
    </div>


    <div style="width: 50%;
      float: right;">
      {{ form.meas_unit.errors }} {{form.meas_unit.help_text}}
      <br>
      {{form.meas_unit}}<br>


      {{ form.sampling_type.errors }} {{form.sampling_type.help_text}}
      <br>
      {{form.sampling_type}} {% comment "Graphic helper" %} To be hidden on load {% endcomment %}

      <div id="period_div" style="padding-left: 1.5em;">{{ form.period.errors }}<br>
        {{form.period.help_text}}<br>
        {{form.period}} {{ form.period_unit.errors }}<br>
        {{form.period_unit.help_text}}<br>
        {{form.period_unit}}</div>

      <div id="delta_div" style="padding-left: 1.5em;">
        {{ form.delta.errors }}<br>
        {{form.delta.help_text}}<br>
        {{form.delta}} {{ form.delta_type.errors }}<br>
        {{form.delta_type.help_text}}<br>
        {{form.delta_type}} {{ form.delta_min.errors }}<br>
        {{form.delta_min.help_text}}<br>
        {{form.delta_min}} {{ form.delta_max.errors }}<br>
        {{form.delta_max.help_text}}<br>
        {{form.delta_max}} {{ form.timeout.errors }}<br>
        {{form.timeout.help_text}}<br>
        {{form.timeout}} {{ form.timeout_unit.errors }}<br>
        {{form.timeout_unit.help_text}}<br>
        {{form.timeout_unit}}

      </div>

      <br>{{ form.sending_type.errors }} {{form.sending_type.help_text}}
      <br>
      {{form.sending_type}}<br>

      <div id="quota_div" style="padding-left: 1.5em;">
        {{ form.quota.errors }}<br> {{form.quota.help_text}}
        <br>
        {{form.quota}} {{ form.quota_unit.errors }}<br> {{form.quota_unit.help_text}}
        <br>
        {{form.quota_unit}}<br>
      </div>




    </div>
    <input style="position: relative;
    top: 30px;" type="submit" name="submit" value="Save Configuration" />

  </form>

</div>

{% endblock content %}
