/* body {
    padding-left: 15px;
}
*/

h1 a {
  color: #FCA205;
  font-family: 'Roboto';
}
div.editable {
  width: 50%;
  height: 100px;
  border: 1px solid #ccc;
  padding: 5px;
  max-height: 100px;
  overflow: auto;
}
div.editable_single {
  /*margin-right: 50px;*/
  width: 90%;
  height: 350px;
  border: 1px solid #ccc;
  padding: 5px;
  max-height: 350px;
  overflow: auto;
}
div.left_side {
  width: 50%;
  float: left;
}
div.right_side {
  width: 50%;
  float: right;
}
